{% extends './layout/base.html' %}

{% load static %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'style/clientes_style.css' %}">
{% endblock %}

{% block titulo %}
    {{ titulo }}
{% endblock %}

{% block content %}
    <hr>
    <div class="">
        <div class="clearfix">
            <img src="{% static 'img/clientes/cliente1.png' %}" class="col-md-3 float-md-end mb-3 ms-md-3" alt="Cliente">

            <h2>
                Nombre: {{ nombre1 }}
            </h2>

            <h4>
                Profesion: {{ categoria1 }}
            </h4>
            <p>
                {{ desc1 }}
            </p>
        </div>

        <div class="clearfix">
            <img src="{% static 'img/clientes/cliente2.jpg' %}" class="col-md-3 float-md-end mb-3 ms-md-3" alt="Cliente">

            <h2>
                Nombre: {{ nombre2 }}
            </h2>
            <h4>
                Profesion: {{ categoria2 }}
            </h4>
            <p>
                {{ desc2 }}
            </p>
        </div>

        <div class="clearfix">
            <img src="{% static 'img/clientes/cliente3.jpg' %}" class="col-md-3 float-md-end mb-3 ms-md-3" alt="Cliente">

            <h2>
                Nombre: {{ nombre3 }}
            </h2>
            <h4>
                Profesion: {{ categoria3 }}
            </h4>
            <p>
                {{ desc3 }}
            </p>
        </div>

        <div class="clearfix">
            <img src="{% static 'img/clientes/cliente4.jpg' %}" class="col-md-3 float-md-end mb-3 ms-md-3" alt="Cliente">

            <h2>
                Nombre: {{ nombre4 }}
            </h2>
            <h4>
                Profesion: {{ categoria4 }}
            </h4>

            <p>
               {{ desc4 }}
            </p>
        </div>

        <div class="clearfix">
            <img src="{% static 'img/clientes/cliente5.jpg' %}" class="col-md-3 float-md-end mb-3 ms-md-3" alt="Cliente">

            <h2>
                Nombre: {{ nombre5 }}
            </h2>
            <h4>
                Profesion: {{ categoria5 }}
            </h4>
            <p>
                {{ desc5 }}
            </p>
        </div>

        <div class="clearfix">
            <img src="{% static 'img/clientes/cliente6.png' %}" class="col-md-3 float-md-end mb-3 ms-md-3" alt="Cliente">

            <h3>
                Nombre: {{ nombre6 }}
            </h3>
            <h4>
                Profesion: {{ categoria6 }}
            </h4>
            <p>
                {{ desc6 }}
            </p>
        </div>

        <div class="clearfix">
            <img src="{% static 'img/clientes/cliente7.jpg' %}" class="col-md-3 float-md-end mb-3 ms-md-3" alt="Cliente">

            <h2>
                Nombre: {{ nombre7 }}
            </h2>
            <h4>
                Profesion: {{ categoria7 }}
            </h4>
            <p>
                {{ desc7 }}
            </p>
        </div>

        <div class="clearfix">
            <img src="{% static 'img/clientes/cliente8.jpg' %}" class="col-md-3 float-md-end mb-3 ms-md-3" alt="Cliente">

            <h2>
                Nombre: {{ nombre8 }}
            </h2>
            <h4>
                Profesion: {{ categoria8 }}
            </h4>
            <p>
                {{ desc8 }}
            </p>
        </div>

        <div class="clearfix">
            <img src="{% static 'img/clientes/cliente9.jpg' %}" class="col-md-3 float-md-end mb-3 ms-md-3" alt="Cliente">

            <h2>
                Nombre: {{ nombre9 }}
            </h2>
            <h4>
                Profesion: {{ categoria9 }}
            </h4>
            <p>
                {{ desc9 }}
            </p>
        </div>

        <div class="clearfix">
            <img src="{% static 'img/clientes/cliente10.jpg' %}" class="col-md-3 float-md-end mb-3 ms-md-3" alt="Cliente">

            <h2>
                Nombre: {{ nombre10 }}
            </h2>
            <h4>
                Profesion: {{ categoria10 }}
            </h4>
            <p>
                {{ desc10 }}
            </p>
        </div>
    </div>
</body>
{% endblock %}