{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresa de Reclutamiento</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

</head>
<header>

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/index/Logo-demo.png' %}" alt="logo">
                </a>
            </div>
            <div class="col-center">
                <h1>LOREM IPSUM CORP</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <nav class="nav nav-pills flex-column flex-sm-row">
                    <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'personal' %}">Personal</a>
                </nav>
            </div>
            <div class="col">
                <nav class="nav nav-pills flex-column flex-sm-row">
                    <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page"
                        href="{% url 'clientes' %}">Clientes</a>
                </nav>
            </div>
            <div class="col">
                <nav class="nav nav-pills flex-column flex-sm-row">
                    <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'egresados' %}">Egresados</a>
                </nav>
            </div>
        </div>
    </div>

</header>

<body>
    <div class="">
        <div class="clearfix">
            <img src="{% static 'img/clientes/cliente1.png' %}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="Cliente">

            <h3>
                {{ nombre1 }}
            </h3>

            <p>
                
            </p>

            <p>
                And yet, here you are, still persevering in reading this placeholder text, hoping for some more
                insights, or some hidden easter egg of content. A joke, perhaps. Unfortunately, there’s none of that
                here.
            </p>
        </div>

        <div class="clearfix">
            <img src="{% static 'img/clientes/cliente2.jpg' %}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="Cliente">

            <h3>
                {{ nombre2 }}
            </h3>

            <p>
                
            </p>

            <p>
                And yet, here you are, still persevering in reading this placeholder text, hoping for some more
                insights, or some hidden easter egg of content. A joke, perhaps. Unfortunately, there’s none of that
                here.
            </p>
        </div>

        <div class="clearfix">
            <img src="{% static 'img/clientes/cliente3.jpg' %}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="Cliente">

            <h3>
                {{ nombre3 }}
            </h3>

            <p>
                
            </p>

            <p>
                And yet, here you are, still persevering in reading this placeholder text, hoping for some more
                insights, or some hidden easter egg of content. A joke, perhaps. Unfortunately, there’s none of that
                here.
            </p>
        </div>

        <div class="clearfix">
            <img src="{% static 'img/clientes/cliente4.jpg' %}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="Cliente">

            <h3>
                {{ nombre4 }}
            </h3>

            <p>
                
            </p>

            <p>
                And yet, here you are, still persevering in reading this placeholder text, hoping for some more
                insights, or some hidden easter egg of content. A joke, perhaps. Unfortunately, there’s none of that
                here.
            </p>
        </div>

        <div class="clearfix">
            <img src="{% static 'img/clientes/cliente5.jpg' %}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="Cliente">

            <h3>
                {{ nombre5 }}
            </h3>

            <p>
                
            </p>

            <p>
                And yet, here you are, still persevering in reading this placeholder text, hoping for some more
                insights, or some hidden easter egg of content. A joke, perhaps. Unfortunately, there’s none of that
                here.
            </p>
        </div>

        <div class="clearfix">
            <img src="{% static 'img/clientes/cliente6.png' %}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="Cliente">

            <h3>
                {{ nombre6 }}
            </h3>

            <p>
                
            </p>

            <p>
                And yet, here you are, still persevering in reading this placeholder text, hoping for some more
                insights, or some hidden easter egg of content. A joke, perhaps. Unfortunately, there’s none of that
                here.
            </p>
        </div>

        <div class="clearfix">
            <img src="{% static 'img/clientes/cliente7.jpg' %}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="Cliente">

            <h3>
                {{ nombre7 }}
            </h3>

            <p>
                
            </p>

            <p>
                And yet, here you are, still persevering in reading this placeholder text, hoping for some more
                insights, or some hidden easter egg of content. A joke, perhaps. Unfortunately, there’s none of that
                here.
            </p>
        </div>

        <div class="clearfix">
            <img src="{% static 'img/clientes/cliente8.jpg' %}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="Cliente">

            <h3>
                {{ nombre8 }}
            </h3>

            <p>
                
            </p>

            <p>
                And yet, here you are, still persevering in reading this placeholder text, hoping for some more
                insights, or some hidden easter egg of content. A joke, perhaps. Unfortunately, there’s none of that
                here.
            </p>
        </div>

        <div class="clearfix">
            <img src="{% static 'img/clientes/cliente9.jpg' %}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="Cliente">

            <h3>
                {{ nombre9 }}
            </h3>

            <p>
                
            </p>

            <p>
                And yet, here you are, still persevering in reading this placeholder text, hoping for some more
                insights, or some hidden easter egg of content. A joke, perhaps. Unfortunately, there’s none of that
                here.
            </p>
        </div>

        <div class="clearfix">
            <img src="{% static 'img/clientes/cliente10.jpg' %}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="Cliente">

            <h3>
                {{ nombre10 }}
            </h3>

            <p>
                
            </p>

            <p>
                And yet, here you are, still persevering in reading this placeholder text, hoping for some more
                insights, or some hidden easter egg of content. A joke, perhaps. Unfortunately, there’s none of that
                here.
            </p>
        </div>
    </div>
</body>

<footer>

</footer>

</html>