{% extends './layout/base.html' %}

{% load static %}

{% block titulo %}

    {{ titulo }}

{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'style/index_style.css} %">
{% endblock %}

{% block content %}
<div>
    <div class="col">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque odio mollitia dolores debitis officiis
            repudiandae adipisci, alias sapiente non veritatis quidem pariatur facilis itaque odit aperiam at? Fugiat,
            id. Fugiat!
            Rem neque assumenda animi vel. Tempore voluptatibus eligendi aperiam accusantium delectus, odio quibusdam
            vero veritatis earum aspernatur, sequi dolore! Reprehenderit, amet corrupti aspernatur suscipit aliquam
            dicta magni dolorum fugiat quibusdam?
            Quibusdam dicta quidem cumque. Maiores, asperiores unde consequatur ad ducimus expedita aperiam, eaque
            voluptatum quos sapiente vero. Possimus odio natus ducimus officia quas iusto, perspiciatis itaque fuga
            aliquam voluptatem a?</p>
    </div>
</div>
{% endblock %}