{% extends './layout/base.html' %}

{% load static %}

{% block titulo %}

    {{ titulo }}

{% endblock %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'style/personal_style.css} %">
{% endblock %}

{% block content %}

    {% for n in nombre %}
        <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="Nombre">{{ n }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
    {% endfor %}

{% endblock %}